*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
header{
    height: max-content;
    background-color: #4a0a80;
    /* background: linear-gradient(180deg,rgba(32,20,55,.5),rgba(32,20,55,0)); */
    /* background-color: transparent; */
    display: flex;
    flex-direction: column;
}
header nav{
    display: flex;
    flex-direction: row;
    margin: 10px;
    /* background-color: white; */
    height: 100px;
    color: white;
    /* font-size: 13px; */
    /* flex-wrap: wrap; */
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0px 58px;
}
header nav .left img{
    margin: 10px;
    padding: 10px;
    width: 250px;
}
header nav .center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
}
header nav .center ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}
header nav .center ul li{
    padding: 5px;
    margin: 5px;
    align-items:center ;
    font-weight: 700;
    font-size: 20px;
    display: flex;
}
header nav .center ul li svg{
    padding: 0px 10px;
}
header nav .right{
    color: #d2c1e0;
    font-size: 20px ;
    display: flex;
    align-content: center;
    align-items: center;
    
}
header nav .right svg{
    padding: 0px 10px;
}

header .container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

header .contain{
    padding: 37px 9px;
   
}

header .container .left{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 10px 40px 75px;
}

header .container .right{
    color: white;
    margin: 10px 75px 10px 40px;
}

header .container .right .sec{
    margin: 20px 15px;
}


header .container .right .sec1{
    font-weight: 900;
    font-size: 48px;
}

header .container .right .sec2{
    border: 1px solid white;
    width: fit-content;
    border-radius:5px ;
    font-size: 12px;
    padding: 4px ;
    font-weight: 900;
}

header .container .right .sec3{
    font-size: 15px ;
}

header .container .right .sec3 button{
    cursor: pointer;
    background-color: rgba(211, 185, 107,1);
    margin: 20px 15px;
    padding: 10px 25px;
    font-size: 25px;
    width: 250px;
    border-radius: 23px;
    border: 1px solid inherit;
}