* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    background-color: #121921;
    color: white;
    width: 100vw;
    align-content: space-between;
    height: 55px;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: fixed;
    z-index: 10;
}

nav .logo :hover {
    border: 1px solid white;
    cursor: pointer;
}

nav .logo img {
    height: 55px;
}

nav .address {
    display: flex;
    flex-direction: row;
}

nav .address .left {
    padding-top: 18px;
}

nav .address .right {
    display: flex;
    flex-direction: column;
    padding: 7px 3px;
}

nav .address .right .up {
    font-size: 15px;
    color: #7a7e84;
}

nav .address .right .down {
    font-size: 17px;
    color: white;
    font-weight: 700;
}

nav .address :hover {
    border: 1px solid white;
    cursor: pointer;
}

nav .search {
    width: 47vw;
    background-color: white;
    margin: 10px;
    display: flex;
    border-radius: 15px;
}

nav .search .left {
    width: 10vw;
    background-color: #e6e6e6;
    padding: 10px 10px;
    color: black;
    font-size: 12px;
    display: flex;
}

nav .search .left .span {
    padding: 10px 2px;
}

nav .search .center {
    display: flex;
    width: 40vw;
    cursor: text;
}

nav .search .center .left {
    color: rgb(113, 109, 109);
    padding: 10px;
    font-size: 15px;
    width: 39vw;
    background-color: white;
}

nav .search .right {
    padding: 5px;
}

nav .search .searchright {
    background-color: #febd69;
    width: 12vw;
    padding: 5px 15px;
}

nav .lang {
    display: flex;
    padding: 16px 2px;
    font-weight: 700;
    font-size: 20px;
}

nav .lang :hover {
    border: 1px solid white;
    cursor: pointer;
}

nav .signin {
    display: flex;
    padding: 12px 2px;
}

nav .signin .left .up {
    font-size: 12px;
}

nav .signin .left .down {
    font-size: 15px;
    font-weight: 700;
}

nav .return {

    padding: 12px 2px;
}

nav .return .up {
    font-size: 12px;
}

nav .return .down {
    font-size: 15px;
    font-weight: 700;
}

nav .cart {
    display: flex;
}

nav .cart .left {
    padding: 10px 2px;
}

nav .cart .right {
    font-size: 15px;
    font-weight: 700;
    padding-top: 26px;
}

.nav-down {
    background-color: #232f3e;
    height: 45px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;
    z-index: 5;
    top: 55px;
}

.nav-down .right {
    color: white;
    padding: 15px 10px;
    font-size: 12px;
    cursor: pointer;
}

.nav-down .left .down {
    padding: 0px 5px;
}

.nav-down .left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
}

.nav-down .left .more svg {
    padding: 10px 5px;
}

.nav-down .left .items {
    color: white;
    font-size: 15px;
    padding: 15px 10px;
    cursor: pointer;
}

main {
    background-color: #7a7e84;
}

main .image {
    background-image: url(backgroundimage.jpg);
    border: 1px solid white;
    border-radius: 5px;
    max-width: 100%;
    height: 80vh;
    position: relative;
    top: 55px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: gray;
}

.image .arrows {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}

.grd {
    display: grid;
    grid-template-columns: 23vw 23vw 23vw 23vw;
    grid-template-rows: 420px 420px;
    position: relative;
    flex-wrap: wrap;
    top: -400px;
    gap: 15px;
    justify-content: space-around;
    justify-items: stretch;
    padding: 10px;
}

.grd .box1 {
    background-color: #e4e7e6;
    display: grid;
    border: 1px solid black;
}

.grd .bo1 {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

h4 {
    padding: 20px 39px 0px 23px;
    height: 50px;
}

.grd .bo1 img {
    padding: auto;
    margin: 20px 10px;
    border: 1px solid black;
}

.grd .bo1 .line2 {
    color: #51bed6;
    padding: 5px 20px;
    font-size: 15px;
}

.grd .bo2 {
    display: flex;
    flex-direction: column;
}

.grd .bo2 .line1 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 15px 25px;
    height: 130px;
}

.grd .bo2 .line1 .a1 {
    font-size: 12px;
    color: #404242;
    display: flex;
    flex-direction: column;
    margin: 5px;
    cursor: pointer;
}

.grd .bo2 .line1 img {
    width: 135px;
    cursor: pointer;
    height: 100px;
}

.grd .bo2 .line2 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 0px 25px;
    height: 130px;

}

.grd .bo2 .line2 .a1 {
    font-size: 12px;
    color: #404242;
    display: flex;
    flex-direction: column;
    margin: 5px;
    cursor: pointer;

}

.grd .bo2 .line2 img {
    width: 135px;
    cursor: pointer;
    height: 100px;
}

.grd .bo2 .line3 {
    color: #51bed6;
    padding: 10px 20px;
    font-size: 15px;
    height: 30px;
}

.box10 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box10 .up {
    width: 100%;
    height: 150px;
    background-color: white;
    border: 1px solid black;
}

.box10 .up button {
    background-color: #ffd814;
    color: black;
    text-align: center;
    padding: 9px;
    width: 280px;
    border-radius: 20px;
    border: none;
    margin: 15px 15px;
    font-size: 12px;
}

.box10 .down {
    width: 100%;
    height: 250px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.box10 .down img {
    height: 150px;
    width: 175px;
    margin: 5px auto;
}

.box10 .down .line1 {
    height: 55px;
    width: 300px;
    font-size: 15px;
    overflow: scroll;
    margin: 0px 25px;
}

.grid {
    display: grid;
    grid-template-columns: 324px 324px 324px 324px;
    grid-template-rows: 420px;
    gap: 25px;
    position: relative;
    top: -400px;
    justify-content: space-evenly;
}

.grid .box {
    background-color: rgb(255, 255, 255);
}

.con {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    position: relative;
    top: -434px;
    height: 350px;
    margin: 50px 25px;
}

.top1 {
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
    height: 20px;
    padding: 20px 10px 0px 15px;
    position: relative;
    z-index: 5;
}

.top1 h4 {
    padding: 0px 24px 0px 5px;
}

.top1 span {
    color: #51bed6;
    font-size: 12px;
    margin: 5px -25px;
    padding: 0px 20px 0px 15px;
    cursor: pointer;
}

.con .down {
    margin: 5px;
    height: 285px;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.con .down .boxes {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 350px;
    background-color: #f7f8f8;
    margin: 10px;
}

.con .down .boxes img {
    width: 100px;
    margin: auto;
    height: 145px;
}

.con .down .boxes .line1 {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin: 7px 9px;
    font-size: 12px;
    gap: 10px;

}

.con .down .boxes .line1 .left {
    background-color: red;
    color: white;
    padding: 5px 2px;
    text-align: center;
    width: 80px;
    font-weight: 200;
}

.con .down .boxes .line1 .right {
    color: red;
    font-weight: 200;
    text-align: center;
    padding: 5px 2px;
}

.con .down .boxes .line2 {
    font-size: 10px;
    margin: 7px 9px;
}

.b5 {
    background-color: white !important;
}

.b5 img {
    height: 250px !important;
}

.container5 {
    grid-template-columns: 23vw 23vw 23vw 23vw;
    grid-template-rows: 420px !important;
}

.container8 {
    grid-template-columns: 23vw 23vw 23vw 23vw;
    grid-template-rows: 420px !important;
    margin-top: 10px;
}

.container8 .bo1 .line2 {
    font-size: 12px;
}

.line81 {
    display: grid;
    grid-template-columns: 142px 142px;
    grid-template-rows: 155px 155px;
    margin: 8px 70px;
    gap: 5px;
}

.a81 img {
    width: 50px;
    height: 150px;
}

.container12 {
    display: flex;
    flex-direction: column;
    height: 375px;
}

.container12 .top {
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    height: 40px;
    padding: 0px 0px 10px 0px;
}

.container12 .top h4 {
    padding: 11px 0px 0px 0px;
    height: 50px;
}

.container12 .top span {
    color: #167d90;
    padding: 20px 5px;
    font-size: 12px;
}

.container12 .down12 {
    display: flex;
    font-display: row;
}

.container12 .down12 .left{
    height: 320;
    width: 600;
    padding: 0px 10px;
}

.container12 .down12 .right{
    height: 320;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.container12 .down12 .right .boxes{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 350px;
    background-color: #f7f8f8;
    margin: 10px;
}

.container12 .down12 .right .boxes img{
    width: 100px;
    margin: auto;
    height: 145px;
}

.container12 .down12 .right .boxes .line1{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    margin: 7px 9px;
    font-size: 12px;
    gap: 10px;
}

.container12 .down12 .right .boxes .line1 .left{
    background-color: red;
    color: white;
    padding: 5px 2px;
    text-align: center;
    width: 80px;
    font-weight: 200;
}

.container12 .down12 .right .boxes .line1 .right{
    color: red;
    font-weight: 200;
    text-align: center;
    padding: 5px 2px;
}

.container12 .down12 .right .boxes .line2{
    font-size: 10px;
    margin: 7px 9px;
}



.cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    position: relative;
    top: -400px;
    height: 285px;
    margin: 25px;
}

.cont h4 {
    margin: 0px 10px;
    height: 20px;
    padding: 20px 10px 0px 23px;
}

.cont .top {
    display: flex;
    flex-direction: row;
}

.cont .top span {
    color: #51bed6;
    font-size: 12px;
    margin: 5px -10px;
    padding: 25px 11px 0px 0px;
    cursor: pointer;
}

.cont .image1 {
    padding: 0px 5px;
    display: flex;
    overflow-x: scroll;
}

.cont .image1 img {
    /* padding: 5px 10px; */
    margin: 5px 7px;
    cursor: pointer;
}

.back {
    background-color: #37475a;
    color: white;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.get {
    height: 270px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0px;
    justify-content: space-evenly;
    align-content: space-evenly;
    justify-items: center;
    background-color: #232f3e;
}

h5 {
    color: white;
}

.column a {
    color: white;
    text-decoration: none;
    padding: 5px 0px;
}

.get .column .amp {
    display: flex;
    flex-direction: column;
    font-size: 15px;

}

.column {
    padding: 50px;
    /* height: 500px; */
}

.seperation {
    height: 1px;
    background-color: #3a4553;
}

.country {
    background-color: #232f3e;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.country .line1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px
}

button {
    background-color: #232f3e;
    color: white;
    border: 1px solid #848688;
    text-align: center;
    width: 150px;
}

button svg {
    align-self: self-start;
}

.country .line2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    max-width: 75%;

}

.country .line3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    max-width: 75%;
    color: #839095;
    text-decoration: none;
}

.country .line2 a {
    padding: 10px;
    color: #839095;
    text-decoration: none;
}

.country .line3 a {
    padding: 10px;
    color: #839095;
    text-decoration: none;
}

.last {
    background-color: #131a22;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.last .block1 {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    column-gap: -17px;
    row-gap: 20px;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
}

.last .block1 h4 {
    color: #627e82;
}

.last .block1 a {
    text-decoration: none;
    text-align: center;
    color: #848688;
}

.last .block2 {
    color: white;
    font-size: 15px;
    padding: auto;
}

.last .block2 .line1 ul li {
    display: inline;
    padding: 10px;
    align-self: center;

}

.last .block2 .line1 ul {
    padding-inline-start: 500px;
    margin-top: 25px;
}

.last .block2 .line2 {
    text-align: center;
    margin-top: 15px;
    color: #167d90;
}